.root {
    height: 400px;
    width: 100%;
}

.label, .magnitudeSelector {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.magnitudeDetails {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
}

